@media screen and (max-width : 480px){

body {
    font-family: Arial, sans-serif;
    padding: 0%;
    margin: 0%;
    max-width: 100%;
    color: white;
}


a i {
   height: 30px;
   width: 70px;
   font-size: 25px;
   position: absolute;
   top: 46px;
   border-radius: 20px;
   color: rgb(218, 255, 180);;
   left: 84%;
}
a i:hover{
    color: rgb(93, 184, 2);;
}

.a2 b {
    height: 30px;
    width: 70px;
    font-size: 25px;
    position: absolute;
    top: 46px;
    color: rgb(218, 255, 180);
    border-radius: 20px;
    left: 74%;
 }
.a2 b:hover{
    color: rgb(93, 184, 2);
}


.ft1{
    width: 100%;
    height: 800px;
  
}
.dream{
    position: absolute;
    top: px;
    left: -10px;
    color: white;
    font-size: 20px;

}
.Logodream{
    position: absolute;
    top: -10px;
    height: 130px;
    width: 130px;
}
    
.title1{
position: absolute;
top: 210px;
color: white;
font-size: 38px;
left: 23px;
}
h3{
    position: absolute;
    top: 315px;
    left: 23px;
    font-size: 15px;
    color: rgb(218, 255, 180);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.email{
position: absolute;
top: 410px;
left: 30px;
height: 30px;
width: 200px;
border-radius: 5px;
background-color: transparent;
border: 1px solid white;
color: white;
}
.email:hover{
    border: 1px solid rgb(93, 184, 2);
    box-shadow: 0px 0px 5px chartreuse;
   
}
.open{
    position: absolute;
    top: 410px;
    left: 240px;
    width: 100px;
    height: 34px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgb(233, 255, 210);
    color: white;
    

}
button:hover{
    border: 1px solid rgb(93, 184, 2);
    box-shadow: 0px 0px 5px chartreuse;
    color: chartreuse;
}
.back2{
    background-color: black;
    height: 7800px;
    position: relative;
    top: -5px;

}


.ts1{
    position: absolute;
    top: 950px;
    height: 300px;
    width: 300px;
    left: 45px;
}
.price1{
    position: absolute;
    top:1250px ;
    left: 50px;
}
.buy{
    position: absolute;
    top: 1320px;
    left: 140px;
    background-color: transparent;
        height: 30px;
    width: 80px;
    border-radius: 10px;
    color:rgb(187, 255, 119); ;
    background-color: transparent;
    border: 1px solid  rgb(187, 255, 119);
    box-shadow: 0px 0px 5px chartreuse;
}
.buy:hover{
    border: 1px solid  rgb(157, 255, 59);
}
.ts2{
    position: absolute;
    top: 1380px;
    height: 300px;
    width: 300px;
    left: 45px;
}
.price2{
    position: absolute;
    top:1660px ;
    left: 50px;
}
.buy2{
    position: absolute;
    top: 1730px;
    left: 140px;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    color:rgb(187, 255, 119); ;
    background-color: transparent;
    border: 1px solid  rgb(187, 255, 119);
    box-shadow: 0px 0px 5px chartreuse;
}
.buy2:hover{
    border: 1px solid  rgb(157, 255, 59);
}

.ts3{
    position: absolute;
    top: 1780px;
    height: 300px;
    width: 300px;
    left: 45px;
}
.price3{
    position: absolute;
    top:2050px ;
    left: 50px;
}
.buy3{
    position: absolute;
    top: 2120px;
    left: 140px;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    color:rgb(187, 255, 119); ;
    background-color: transparent;
    border: 1px solid  rgb(187, 255, 119);
    box-shadow: 0px 0px 5px chartreuse;
}
.buy3:hover{
    border: 1px solid  rgb(157, 255, 59);
}

.ts4{
    position: absolute;
    top: 2190px;
    height: 300px;
    width: 300px;
    left: 45px;
}
.price4{
    position: absolute;
    top:2470px ;
    left: 50px;
}
.buy4{
    position: absolute;
    top: 2540px;
    left: 140px;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    color:rgb(187, 255, 119); ;
    background-color: transparent;
    border: 1px solid  rgb(187, 255, 119);
    box-shadow: 0px 0px 5px chartreuse;
}
.buy4:hover{
    border: 1px solid  rgb(157, 255, 59);
}

.ts5{
    position: absolute;
    top: 2600px;
    height: 300px;
    width: 300px;
    left: 45px;
}
.price5{
    position: absolute;
    top:2885px ;
    left: 50px;
}
.buy5{
    position: absolute;
    top: 2955px;
    left: 140px;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    color:rgb(187, 255, 119); ;
    background-color: transparent;
    border: 1px solid  rgb(187, 255, 119);
    box-shadow: 0px 0px 5px chartreuse;
}
.buy5:hover{
    border: 1px solid  rgb(157, 255, 59);
}

.boys{
    position: absolute;
    left: 20px;
    font-size: 26px;
    color:  rgb(187, 255, 119);
    top: 3100px;
}
.ts6{
    position: absolute;
    top: 3270px;
    height: 300px;
    width: 300px;
    left: 45px;
}
.price6{
    position: absolute;
    top:3580px ;
    left: 50px;
}
.buy6{
    position: absolute;
    top: 3650px;
    left: 140px;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    color:rgb(187, 255, 119); ;
    background-color: transparent;
    border: 1px solid  rgb(187, 255, 119);
    box-shadow: 0px 0px 5px chartreuse;
}
.buy5:hover{
    border: 1px solid  rgb(157, 255, 59);
}
.ts11{
    position: absolute;
    top: 3700px;
    height: 300px;
    width: 300px;
    left: 40px;
}
.price11{
    position: absolute;
    top:3975px ;
    left: 50px;
}
.buy11{
    position: absolute;
    top: 4040px;
    left: 140px;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    color:rgb(187, 255, 119); ;
    background-color: transparent;
    border: 1px solid  rgb(187, 255, 119);
    box-shadow: 0px 0px 5px chartreuse;
}
.buy11:hover{
    border: 1px solid  rgb(157, 255, 59);
}
.caps{
    position: absolute;
    top: 4200px;
    left: 25px;
    color: rgb(187, 255, 119);
}
.CAP1{
position: absolute;
top: 4300px;
height: 250px;
width: 200px;
}
.CAPE1{
position: absolute;
top:4360px ;
left: 200px;
}
.buyCAP1{
position: absolute;
top: 4445px;
left: 270px;
background-color: transparent;
border: 1px solid rgb(187, 255, 119);
height: 30px;
width: 80px;
border-radius: 10px;
color: rgb(187, 255, 119);
box-shadow: 0px 0px 5px chartreuse;
}
.buyCAP1:hover{
    border: 1px solid rgb(138, 255, 21);
}



.CAP2{
    position: absolute;
    top: 4500px;
    height: 250px;
    width: 200px;
    }
    .CAPE2{
    position: absolute;
    top:4560px ;
    left: 200px;
    }
    .buyCAP2{
    position: absolute;
    top: 4645px;
    left: 270px;
    background-color: transparent;
    border: 1px solid rgb(187, 255, 119);
    height: 30px;
    width: 80px;
    border-radius: 10px;
    color: rgb(187, 255, 119);
    box-shadow: 0px 0px 5px chartreuse;
    }
    .buyCAP2:hover{
        border: 1px solid rgb(138, 255, 21);
    }




    .CAP3{
        position: absolute;
        top: 4700px;
        height: 250px;
        width: 200px;
        }
        .CAPE3{
        position: absolute;
        top:4760px ;
        left: 200px;
        }
        .buyCAP3{
        position: absolute;
        top: 4845px;
        left: 270px;
        background-color: transparent;
        border: 1px solid rgb(187, 255, 119);
        height: 30px;
        width: 80px;
        border-radius: 10px;
        color: rgb(187, 255, 119);
        box-shadow: 0px 0px 5px chartreuse;
        }
        .buyCAP3:hover{
            border: 1px solid rgb(138, 255, 21);
        }





        .CAP4{
            position: absolute;
            top: 4900px;
            height: 250px;
            width: 200px;
            }
            .CAPE4{
            position: absolute;
            top:4960px ;
            left: 200px;
            }
            .buyCAP4{
                position: absolute;
                top: 5045px;
                left: 270px;
                background-color: transparent;
                border: 1px solid rgb(187, 255, 119);
                height: 30px;
                width: 80px;
                border-radius: 10px;
                color: rgb(187, 255, 119);
                box-shadow: 0px 0px 5px chartreuse;
            }
            .buyCAP1:hover{
                border: 1px solid rgb(138, 255, 21);
            }

.bigt{
    display: none;
}
.link1{
    display: none;
}
.link2{
    display: none;
}
.link3{
    display: none;
}
.link4{
    display: none;
}

.sr1{
height: 190px;
width: 190px;
position: absolute;
top: 5260px;
left:130px;
border-style:ridge;
border-radius: 50%;
border-color: rgb(138, 255, 21) ;
box-shadow: 0px 0px 10px chartreuse;

}

.sr2{
    height: 190px;
    width: 190px;
    position: absolute;
    top: 5500px;
    left:130px;
    border-style:ridge;
    border-radius: 50%;
    border-color: rgb(138, 255, 21) ;
    box-shadow: 0px 0px 10px chartreuse;
    }
    .sr3{
        height: 190px;
        width: 190px;
        position: absolute;
        top: 5750px;
        left:130px;
        border-style:ridge;
        border-radius: 50%;
        border-color: rgb(138, 255, 21) ;
        box-shadow: 0px 0px 10px chartreuse;
        }

.commentp{
    position: absolute;
    top: 6150px;
    font-size: 35px;
    left: 24px;
    color: chartreuse;
}
.com1{
    position: absolute;
    top:6100px ;
    left: -20px;
    height: 580px;
    width: 510px;
}

.com2{
    position: absolute;
    top:6320px ;
    left: -20px;
    height: 580px;
    width: 510px;
}

.com3{
    position: absolute;
    top:6590px ;
    left: -20px;
    height: 580px;
    width: 510px;
}

}




@media screen and (min-width:481px) {
    body {
        font-family: Arial, sans-serif;
        padding: 0%;
        margin: 0%;
        max-width: 100%;
        color: white;
    }
    .link1{
        color: rgb(218, 255, 180);
        position: absolute;
        top: 46px;
        left: 440px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    .link1:hover{
        color: rgb(178, 255, 101);
        transition: 0.3s;
    }

    .link2{
        color: rgb(218, 255, 180);
        position: absolute;
        top: 46px;
        left: 570px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
    }
    .link2:hover{
        color: rgb(178, 255, 101);
        transition: 0.3s;
    }

    .link3{
        color: rgb(218, 255, 180);
        position: absolute;
        top: 46px;
        left: 720px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
    }
    .link3:hover{
        color: rgb(178, 255, 101);
        transition: 0.3s;
    }

    .link4{
        color: rgb(218, 255, 180);
        position: absolute;
        top: 46px;
        left: 850px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
    }
    .link4:hover{
        color: rgb(178, 255, 101);
        transition: 0.3s;
    }
    .bigt{
        height: 500px;
        width: 500px;
        position: absolute;
        top:498px ;
        left: 420px;
    }
    .tst1{
        position: absolute;
        top: 850px;
        left: 413px;
        font-size: 40px;
        color:   rgb(218, 255, 180);
    }
   
    a i {
       height: 30px;
       width: 70px;
       font-size: 25px;
       position: absolute;
       top: 46px;
       border-radius: 20px;
       color: rgb(218, 255, 180);;
       left: 92%;
    }
    a i:hover{
        color: rgb(178, 255, 101);
        transition: 0.3s;
    }
    .a2 b {
        height: 30px;
        width: 70px;
        font-size: 25px;
        position: absolute;
        top: 46px;
        color: rgb(218, 255, 180);
        border-radius: 20px;
        left: 88%;
     }
     .a2 b:hover{
        color: rgb(178, 255, 101);
        transition: 0.3s;
    }
    
    .ft1{
        width: 100%;
        height: 650px;
       
    }
    .dream{
        position: absolute;
        top: px;
        left: -10px;
        color: white;
        font-size: 20px;
    
    }
    .Logodream{
        position: absolute;
        top: -16px;
        height: 130px;
        width: 130px;
        left: 40px;
    }
        
    .title1{
    position: absolute;
    top: 180px;
    color: white;
    font-size: 48px;
    left: 23px;
    }
    h3{
        position: absolute;
        top: 255px;
        left: 23px;
        font-size: 25px;
        color: rgb(218, 255, 180);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .email{
    position: absolute;
    top: 380px;
    left: 27px;
    height: 30px;
    width: 500px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    }
    .email:hover{
        border: 1px solid rgb(93, 184, 2);
        transition: 0.3s;
    }
    .open{
        position: absolute;
        top: 380px;
        left: 540px;
        width: 100px;
        height: 34px;
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
    }
    button:hover{
        border: 1px solid rgb(93, 184, 2);
        transition: 0.3s;
        color: rgb(93, 184, 2);
    }
    .back2{
        background-color: black;
        height: 4000px;
        position: relative;
        top: -5px;
    
    }
    


    
.ts1{
    position: absolute;
    top: 1080px;
    height: 280px;
    width: 280px;
    left: 530px;
}
.price1{
    position: absolute;
    top:1340px ;
    left: 530px;
}
.buy{
    position: absolute;
    top: 1410px;
    left: 640px;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    color:rgb(187, 255, 119); ;
    background-color: transparent;
    border: 1px solid  rgb(187, 255, 119);
}
.buy:hover{
    border: 1px solid  rgb(157, 255, 59);
}
.ts2{
    position: absolute;
    top: 1060px;
    height: 300px;
    width: 300px;
    left: 45px;
}
.price2{
    position: absolute;
    top:1340px ;
    left: 50px;
}
.buy2{
    position: absolute;
    top: 1410px;
    left: 140px;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    color:rgb(187, 255, 119); ;
    background-color: transparent;
    border: 1px solid  rgb(187, 255, 119);
}
.buy2:hover{
    border: 1px solid  rgb(157, 255, 59);
}

.ts3{
    position: absolute;
    top: 1060px;
    height: 320px;
    width: 320px;
    left: 965px;
}
.price3{
    position: absolute;
    top:1340px ;
    left: 1000px;
}
.buy3{
    position: absolute;
    top: 1410px;
    left: 1105px;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    color:rgb(187, 255, 119); ;
    background-color: transparent;
    border: 1px solid  rgb(187, 255, 119);
}
.buy3:hover{
    border: 1px solid  rgb(157, 255, 59);
}

.ts4{
    position: absolute;
    top: 1590px;
    height: 300px;
    width: 300px;
    left: 530px;
}
.price4{
    position: absolute;
    top:1870px ;
    left: 530px;
}
.buy4{
    position: absolute;
    top: 1950px;
    left: 640px;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    color:rgb(187, 255, 119); ;
    background-color: transparent;
    border: 1px solid  rgb(187, 255, 119);
}
.buy4:hover{
    border: 1px solid  rgb(157, 255, 59);
}


.ts5{
    position: absolute;
    top: 1590px;
    height: 300px;
    width: 300px;
    left: 45px;
}
.price5{
    position: absolute;
    top:1870px ;
    left: 50px;
}
.buy5{
    position: absolute;
    top: 1950px;
    left: 140px;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    color:rgb(187, 255, 119); ;
    background-color: transparent;
    border: 1px solid  rgb(187, 255, 119);
}
.buy5:hover{
    border: 1px solid  rgb(157, 255, 59);
}

.boys{
    position: absolute;
    left: 400px;
    font-size: 38px;
    color:  rgb(218, 255, 180);
    top: 2100px;
}
.ts6{
    position: absolute;
    top: 2350px;
    height: 300px;
    width: 300px;
    left: 45px;
}
.price6{
    position: absolute;
    top:2650px ;
    left: 50px;
}
.buy6{
    position: absolute;
    top: 2723px;
    left: 140px;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    color:rgb(187, 255, 119); ;
    background-color: transparent;
    border: 1px solid  rgb(187, 255, 119);
}
.buy5:hover{
    border: 1px solid  rgb(157, 255, 59);
}
.ts11{
    position: absolute;
    top: 2350px;
    height: 300px;
    width: 300px;
    left: 530px;
}
.price11{
    position: absolute;
    top:2650px ;
    left: 530px;
}
.buy11{
    position: absolute;
    top: 2723px;
    left: 640px;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    color:rgb(187, 255, 119); ;
    background-color: transparent;
    border: 1px solid  rgb(187, 255, 119);
}
.buy11:hover{
    border: 1px solid  rgb(157, 255, 59);
}






.caps{
    position: absolute;
    top: 2900px;
    left: 400px;
    font-size: 38px;
    color:  rgb(218, 255, 180);
}
.CAP1{
position: absolute;
top:3100px;
left: 55px;
height: 350px;
width: 280px;
}
.CAPE1{
position: absolute;
top:3380px ;
font-size: 30px;
left: 90px;
}
.buyCAP1{
position: absolute;
top: 3490px;
left: 150px;
background-color: transparent;
border: 1px solid rgb(187, 255, 119);
height: 30px;
width: 80px;
border-radius: 10px;
color: rgb(187, 255, 119);
}
.buyCAP1:hover{
    border: 1px solid rgb(138, 255, 21);
}


.CAP2{
    position: absolute;
    top:3107px;
    left: 495px;
    height: 350px;
    width: 280px;
    }
    .CAPE2{
    position: absolute;
    top:3380px ;
    font-size: 30px;
    left: 533px;
    }
    .buyCAP2{
    position: absolute;
    top: 3490px;
    left: 590px;
    background-color: transparent;
    border: 1px solid rgb(187, 255, 119);
    height: 30px;
    width: 80px;
    border-radius: 10px;
    color: rgb(187, 255, 119);
    }
    .buyCAP1:hover{
        border: 1px solid rgb(138, 255, 21);
    }
    



    .CAP3{
        position: absolute;
        top:3095px;
        left: 975px;
        height: 350px;
        width: 280px;
        }
        .CAPE3{
        position: absolute;
        top:3380px ;
        font-size: 30px;
        left: 1020px;
        }
        .buyCAP3{
        position: absolute;
        top: 3490px;
        left: 1080px;
        background-color: transparent;
        border: 1px solid rgb(187, 255, 119);
        height: 30px;
        width: 80px;
        border-radius: 10px;
        color: rgb(187, 255, 119);
        }
        .buyCAP1:hover{
            border: 1px solid rgb(138, 255, 21);
        }

        .CAP4{
            position: absolute;
            top:3550px;
            left: 55px;
            height: 350px;
            width: 280px;
            }
            .CAPE4{
            position: absolute;
            top:3830px ;
            font-size: 30px;
            left: 90px;
            }
            .buyCAP4{
            position: absolute;
            top: 3940px;
            left: 150px;
            background-color: transparent;
            border: 1px solid rgb(187, 255, 119);
            height: 30px;
            width: 80px;
            border-radius: 10px;
            color: rgb(187, 255, 119);
            }
            .buyCAP1:hover{
                border: 1px solid rgb(138, 255, 21);
            }
.footer{
    background-color: rgb(169, 253, 85);
    height: 500px;
    width: 100%;
    position: absolute;
    top: 4150px;
}       

}