@media screen and (max-width : 480px){

body {
    font-family: Arial, sans-serif;
    padding: 0%;
    margin: 0%;
    max-width: 100%;
    color: white;
}


a i {
   height: 30px;
   width: 70px;
   font-size: 25px;
   position: absolute;
   top: 46px;
   border-radius: 20px;
   color: rgb(218, 255, 180);;
   left: 84%;
}
.a2 b {
    height: 30px;
    width: 70px;
    font-size: 25px;
    position: absolute;
    top: 46px;
    color: rgb(218, 255, 180);
    border-radius: 20px;
    left: 74%;
 }

img{
    width: 100%;
    height: 800px;
   
}
.dream{
    position: absolute;
    top: px;
    left: -10px;
    color: white;
    font-size: 20px;

}
.Logodream{
    position: absolute;
    top: -10px;
    height: 130px;
    width: 130px;
}
    
.title1{
position: absolute;
top: 210px;
color: white;
font-size: 38px;
left: 23px;
}
h3{
    position: absolute;
    top: 315px;
    left: 23px;
    font-size: 15px;
    color: rgb(218, 255, 180);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.email{
position: absolute;
top: 410px;
left: 30px;
height: 30px;
width: 200px;
border-radius: 5px;
background-color: transparent;
border: 1px solid white;
color: white;
}
.email:hover{
    border: 1px solid rgb(93, 184, 2);
}
button{
    position: absolute;
    top: 410px;
    left: 240px;
    width: 100px;
    height: 34px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
button:hover{
    border: 1px solid rgb(218, 255, 180);
}
.back2{
    background-color: black;
    height: 6700px;
    position: relative;
    top: -5px;

}
.premiretexte{

height: 500px;
}
.imgtitre{
    position: absolute;
    top: 180px;
    left: 140px;
    height: 170px;
    width: 180px;
}
.dreamone1{
position: absolute;
top: 350px;
height: 100px;
width: 100px;
left: 20px;
border-radius: 50%;
border:0px;
}
.dre1{
position: absolute;
top: 430px;
font-size: 17px;
left: 43px;

}

.dreamone2{
    position: absolute;
    top: 350px;
    height: 100px;
    width: 100px;
    left: 180px;
    border-radius: 50%;
    border:0px;
    }
.dre2{
    position: absolute;
    top: 430px;
    font-size: 17px;
    left: 200px;
    
    }

.dreamone3{
        position: absolute;
        top: 319px;
        height: 150px;
        width: 150px;
        left: 320px;
        border-radius: 50%;
        border:0px;
        }
.dre3{
        position: absolute;
        top: 430px;
        font-size: 17px;
        left: 373px;
        
        }
.texte1{
position: absolute;
top: 30px;

font-size: 27px;
color: rgb(218, 255, 180);

}
.texte2{
position: absolute;
top: 90px;

font-size: 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tst1{
    position: absolute;
    left: 30px;
    font-size: 26px;
    color:  rgb(218, 255, 180);
    top: 505px;
}
.ts1{
    position: absolute;
    top: 600px;
    height: 300px;
    width: 300px;
    left: 45px;
}
.price1{
    position: absolute;
    top:880px ;
    left: 50px;
}
.buy{
    position: absolute;
    top: 960px;
    left: 140px;
    border: 1px solid  rgb(218, 255, 180);
}
.buy:hover{
    border: 1px solid  rgb(157, 255, 59);
}
.ts2{
    position: absolute;
    top: 1060px;
    height: 300px;
    width: 300px;
    left: 45px;
}
.price2{
    position: absolute;
    top:1340px ;
    left: 50px;
}
.buy2{
    position: absolute;
    top: 1410px;
    left: 140px;
    border: 1px solid  rgb(218, 255, 180);
}
.buy2:hover{
    border: 1px solid  rgb(157, 255, 59);
}

.ts3{
    position: absolute;
    top: 1480px;
    height: 300px;
    width: 300px;
    left: 45px;
}
.price3{
    position: absolute;
    top:1750px ;
    left: 50px;
}
.buy3{
    position: absolute;
    top: 1830px;
    left: 140px;
    border: 1px solid  rgb(218, 255, 180);
}
.buy3:hover{
    border: 1px solid  rgb(157, 255, 59);
}

.ts4{
    position: absolute;
    top: 1890px;
    height: 300px;
    width: 300px;
    left: 45px;
}
.price4{
    position: absolute;
    top:2170px ;
    left: 50px;
}
.buy4{
    position: absolute;
    top: 2250px;
    left: 140px;
    border: 1px solid  rgb(218, 255, 180);
}
.buy4:hover{
    border: 1px solid  rgb(157, 255, 59);
}

.ts5{
    position: absolute;
    top: 2300px;
    height: 300px;
    width: 300px;
    left: 45px;
}
.price5{
    position: absolute;
    top:2585px ;
    left: 50px;
}
.buy5{
    position: absolute;
    top: 2670px;
    left: 140px;
    border: 1px solid  rgb(218, 255, 180);
}
.buy5:hover{
    border: 1px solid  rgb(157, 255, 59);
}

.boys{
    position: absolute;
    left: 20px;
    font-size: 26px;
    color:  rgb(218, 255, 180);
    top: 2800px;
}
.ts6{
    position: absolute;
    top: 2950px;
    height: 300px;
    width: 300px;
    left: 45px;
}
.price6{
    position: absolute;
    top:3250px ;
    left: 50px;
}
.buy6{
    position: absolute;
    top: 3340px;
    left: 140px;
    border: 1px solid  rgb(218, 255, 180);
}
.buy5:hover{
    border: 1px solid  rgb(157, 255, 59);
}
.ts11{
    position: absolute;
    top: 3400px;
    height: 300px;
    width: 300px;
    left: 40px;
}
.price11{
    position: absolute;
    top:3675px ;
    left: 50px;
}
.buy11{
    position: absolute;
    top: 3750px;
    left: 140px;
    border: 1px solid  rgb(218, 255, 180);
}
.buy11:hover{
    border: 1px solid  rgb(157, 255, 59);
}












}